* {
	position: relative;
}

.nav {
	height: 50px;
}

.nav a {
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

.nav li {
	display: inline;
}

.jumbotron {
	background-image: url('http://www.pictures-switzerland.com/brunnen/brunnen-lake-alps.jpg');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron .container {
	text-align: center;
	font-family: Georgia, serif;
}

.diff {
	display: inline;
	position: relative;
	top: 150px;
	padding: 20px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
}

.diff input {
	margin: 10px;
}

.jumbotron .buttons { display: block;
margin: 5px;
padding: 10px 20px;
margin-left: auto;
margin-right: auto;
position: relative;
top: 200px; 
background-color: #001429;
color: white;}

.fish {
	background-color: #DEE7F7;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	font-family: Georgia, serif;
}

.fish p {
	margin: 25px;
}

.fish .buttons {
	margin: 5px;
	padding: 10px 20px;
	background-color: #001429;
	color: white;
}

.fish .matches {
	display: inline-block;
	font-size: 16px;
}

.footer {
	background-color: #000014;
	color: white;
	text-align: center;
}

img {
margin: 5px;}

input[name ="user"] {
display: none;}
	
label  > input + img{
	cursor: pointer;
	border: 2px solid transparent;}
	
label > input:checked + img{
	border: 3px solid #f00;}
