.starting { background-color: #66CCFF;
border: 2px solid #295266;
border-radius: 20px;
display: block;
width: 60%;
height: 60%;
margin-left: auto;
margin-right: auto; }

.boss{ text-align: center;
	display: block;
	border: 2px solid #000000;
	width: 50%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 5px;}
	
#turn, #comment {
	font-size: 26px;
}
	
.buttons { display: block;
margin: 5px 5px 5px 5px;
margin-left: auto;
margin-right: auto; }

.fish { background-color: #4D94B8;
border: 2px solid #295266;
border-radius: 20px;
display: block;
width: 80%;
height: 60%;
margin-left: auto;
margin-right: auto; 
margin-top: 20px; }

.hand { text-align: center;
	display: block;
	border: 2px solid #000000;
	border-radius: 5px;
	width: 80%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.matches { display: inline-block;
	border: 2px solid #000000;
	border-radius: 5px;
	width: 80px;
	margin-top: 20px;
	margin-left: 8%;
	padding: 5px;
}

img {
margin: 10px;}

input {padding: 5px;
margin: 5px 5px 5px 5px;}

input[type="radio"] {
display: none;}
	
label  > input + img{
	cursor: pointer;
	border: 2px solid transparent;}
	
label > input:checked + img{
	border: 3px solid #f00;}
